body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

.main-header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}

.header {
    color: #008B8B;
    font-weight: 300;
}

.justify-text {
    text-align: justify;
}

.bio-img {
    width: 128px;
    height: 128px;
}

.fa {  
    padding: .5rem;
  }  

.fa:hover {  
    opacity: 0.7;  
}  